
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-style: normal;
    box-sizing: border-box;
  
}

#main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
 
}

.mini{
    position: relative;
    width: 70%;
    height: 80%;

}

.imagecontainer{
   
    box-shadow: 1px 1px 10px 2px rgb(108, 104, 105);
    overflow: hidden;
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: black;
 
}

img{
height: 100%;
}

#one{
    width: 0%;
  }
  .text{
    position: absolute;
    overflow: hidden;
    width: 200px;
    height: 43px;
    background-color: rgb(78, 73, 73);
    bottom: 10%;
    left: -10%;
    padding-left: 10px;
    padding-top: 3px;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 1px 1px 10px 2px rgb(108, 104, 105);
    z-index: 99;
  }
  .text:hover{
    background-color: rgb(54, 56, 57);
  }
  .text h1{
    font-size: 5vh;
    color: rgb(255, 255, 255);
    position: absolute;

    top: 100px;
}
.tommy{
    overflow: hidden;
   opacity: 0;
    width: 100%;
    height: 0%;
    color: wheat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    position: absolute;margin-left:15%;
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;     
    gap: 150px;              
}

.link a img {
    opacity: 0;
    width: 30%;              
    height: auto;
    box-shadow: 1px 1px 12px 2px rgb(94, 233, 29);
    object-fit: cover;
}
